@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
.storybook-button {
  font-family: 'Inter';
  font-weight: 600;
  border: 0;
  border-radius: 0.5em;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 6px;
  column-gap: 4px;
}
.storybook-button--default {
  color: #47B647;
  background-color: transparent;
}

.storybook-button--default--hover {
  background-color: #EDFAED;
}
.storybook-button--default--disabled {
  opacity: 0.3;
}
.storybook-button--neutral {
  color: #282829;
  background-color: transparent;
 
}

.storybook-button--neutral--hover {
  background-color: #F2F3F5;
  border: 2px solid #F2F3F5;
 
}
.storybook-button--neutral--disabled {
  opacity: 0.3;
}

.storybook-button--reverse {
  color: #FCFCFC;
  background-color: transparent;
}
.storybook-button--reverse--hover {
  background-color: #282829;
  border: 2px solid #282829;
}
.storybook-button--reverse--disabled {
  opacity: 0.3;
}
.storybook-button--default {
  font-size: 15px;
  line-height: 24px;
}
.storybook-button--small {
  font-size: 13.5px;
  line-height: 20.25px;
}
.storybook-button--x-small {
  font-size: 12px;
  line-height: 28px;
}
